#banner{
width: 100%;
height: 350px;
border-style: solid;
border-width: 2px;
border-radius: 45px;
box-shadow: rgb(150, 150, 150) 15px 15px 15px 15px;
transform: scale(.8);
}
#banner:hover {
    transform: scale(1); /*cuando pasemos el mouse sobre la imagen la imagen se va a poner al 100%*/
}

form{
    background-color: #4f62f0;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}
.datoForm{
    color: #111111;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    letter-spacing: 10px;
    text-decoration:overline;
}
body{
    background-color: #0694a1;

}

.imgFooter:hover{
    transform: rotate(50deg);
}